{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container-fluid">
        <h2>All Posts</h2>
        {% if user.is_authenticated %}
            <div class="card">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="new-post"><h5>New Post</h5></label><br>
                        <textarea class="form-control mb-3" name="new-post"></textarea>
                        <button class="btn btn-primary" type="submit">Post</button>
                    </div>
                </form>
            </div>
        {% endif %}
    
        <div class="card">
            {% for post in posts reversed %}
                <div class="card-header">
                    <a href="{% url 'profile' post.poster_id %}">{{  post.user }}</a>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        {% if user.id == post.poster_id %}
                            <span class="edit">Edit</span>
                        {% endif %}

                        <p>{{ post.content }}</p>

                        {% if user.id in post.likers %}
                        <i class="bi bi-heart-fill h6"></i>
                        {% else %}
                            <i class="bi bi-heart h6"></i>
                        {% endif %}

                        <small> {{ post.likes }}</small><br>
                        <footer class="footer">Posted on:{{ post.timestamp }}
                            {% if post.last_update %}
                                - Last updated: {{ post.last_update }}
                            {% endif %}
                        </footer>
                    </blockquote>                    
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}