{% extends "network/layout.html" %}
{% load static %}
{% block script %}<script src="{% static 'network/showPosts.js' %}" type="module"></script>{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h2>All Posts</h2>
        {% if user.is_authenticated %}
            <div class="card">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="new-post"><h5>New Post</h5></label><br>
                        <textarea class="form-control mb-3" name="new-post"></textarea>
                        <button class="btn btn-primary" type="submit">Post</button>
                    </div>
                </form>
            </div>
        {% endif %}
    
        <div id="posts" data-type="all" data-csrftoken="{{csrf_token }}">           
        </div>
    </div>
{% endblock %}