{% extends 'network/layout.html' %}
{% load static %}

{% block script %}<script src="{% static 'network/helper.js' %}"></script>{% endblock %}

{% block body %}
    
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ username }}
                {% if user.is_authenticated and user.id != profile_id %}
                {% if not following %}
                    <button type="button" id="follow" class="btn btn-success">Follow</button>
                {% else %}
                    <button type="button" id="unfollow" class="btn btn-danger">Unfollow</button>
                {% endif %}
            {% endif %}
            </h5>
            <p class="card-text">Following: {{ num_following }} users<br/>Followers: {{ num_followers }} users</p>
        </div>
    </div>

    <div class="container-fluid"></div>
        <div id="posts">           
        </div>
    </div>
{% endblock %}