.bi {
    color: red;
}

.edit {
    float: right;
    font-size: 14px;
    color: blue;
    display: inline;
}

.edit:hover {
    text-decoration: underline;
    cursor: pointer;
}
.float-right {
    float: right;
    font-size: 2px;
}

#follow, #unfollow {
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0px 2px;
}

.footer {
    font-size: 10px; 
    text-align: right;
}

.form-group {
    margin: 20px;
}

.post-text {
    font-size: 18px;
    margin: 0px; 
    padding: 0px;
    display: inline;
}

small {
    margin: 0px;
    font-size: 16px;
}